@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    margin: 0px;
    font-family: Nunito Sans;
}

body * {
    box-sizing: border-box;
    max-width: 3000px;
}

.yellow {
    color: #E3B873;
}

.gray {
    color: gray;
}

.white {
    color:#FFF;
    line-height: 21.28px;
}
.underline {
    text-decoration: underline;
}

.container {
    max-width: 1250px;
}


.button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    cursor:pointer;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
}

.button:hover {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 1px solid #E3B873;
    box-sizing: border-box;
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    cursor:pointer;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
}

.calculate:hover {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    outline: 0;
    border: auto;
    padding: 19px 41px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.calculate {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    outline: 0;
    padding: 19px 41px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.submit:hover {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    outline: 0;
    border: auto;
    padding: 19px 22px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    margin-left: 20px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.submit {
    border: 1px solid #FFFFFF;
    color: white;
    box-sizing: border-box;
    border-radius: 2px;
    outline: 0;
    padding: 19px 22px;
    font-family: Nunito Sans;
    font-style: italic;
    background-color: Transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.logo {
    color: #E3B873;
}

.header {
    background-color: black;
    display: block;
	position: sticky;
	top: 0;
	z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    margin-left: 40px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
    color: white;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

.header-navigation__item a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.images {
    background-image: url('image/main.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.images-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.images-container {
    position: relative;
    z-index: 1;
    margin: 67px;
}

/* вторая часть страницы */

.completed {
    background:#131313;
    display: flex;
    max-height: 1074px;
    }

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal ;
    text-transform: uppercase;
    color: #E3B873;
}

.white {
    color:white;
}


.h1 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}
.h2 {
   font-size: 14px;
   line-height: 19px;
}

.h3 {
    font-size: 20px;
}

.h4 {
    font-size: 50px;
}

.h5 {
    font-size: 14px;
}

.p {
    font-size: 14px;
}

.container-left {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    margin-top: 170px;
    line-height: 37px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtitle_projects_title {
    font-size: 14px;
    line-height: 27px;
}

.grid2x2 {
    display:grid;
    grid-template-columns: 49% 50%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 45px;
    margin: 0;
    line-height: 1.6;
}

.container-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-right {
    margin: 0 auto;
    line-height: 37px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-action {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    list-style: none;
    }

.action {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
}
.action a {
    text-decoration: none;
    font-weight: normal;
}

.action a:hover {    
    color: #E3B873;
    text-decoration: underline;
}

.image {
    margin: 0;
}

.tool-navigation{
    display:flex;
    flex-direction:row;
    font-size:2em;
    padding:0 10px;
    margin-bottom: 300px;
}

.tool-navigation>a {
    border-radius: 10px;
    margin:3px 5px 0;
    border: 5px solid rgba(255,255,255,.3);
    display: inline;
    width: 0px;
    align-self: center;
    height: 0px;
    padding: 0;
}

.tool-navigation>a:first-of-type{
    border:5px solid white;    
}

.tool-navigation::before{
    color: white;
    margin-right:20px;
    content: "\2190";
    cursor: pointer;
}

.tool-navigation::after {
    content:"\2192";
    color: white;
    margin-left:20px;
    cursor: pointer;
}

.section_text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 25px;
}

.container_section_ {
    margin-top: -300px;
    max-width: 1620px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.icon_rec {
    display:inline;
    margin:0 9px 0;
    border-radius: 30px;
}

.icon {
    display:flex;
    flex-direction:row;
    align-items:center;
    max-width:110px;
}

.videobox{
    position:relative;
    z-index:0;

}

.video {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    margin:0 0 60px;
    margin-top: 20px;
}

.vi{
    position: absolute;
    display: block;
    z-index: 2;
    background: rgba(0,0,0,.6);
    width: 817px;
    height: 434px;
}

.playback {
    z-index: 3;
    display: flex;
    position: absolute;
    width: 85px;
    height: 85px;
    background: #E3B873;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 379px;
    cursor: pointer;
}

.play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.5px 0 17.5px 28px;
    border-color: transparent transparent transparent #fff;
    margin-left: 5px;
}

.line{
    border: none;
    width: 62.5px;
    border-top: 2px solid #E3B873;
    border-radius: 30px;
    margin-top: -10px;
}

.hr {
    width:55px;
}

.at_text {
    margin-top: 30px;
    font-size: 21px;
    line-height: 2;
    text-align:center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    color: #363636; 
}


.text_ {
    font-size:14px;
    line-height:1.6;
}

.label__checkbox {
    cursor: pointer;
}

.checkbox{
    display: none;
}

.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before{
    opacity: 1;
}

.button_submit {
    background:#E3B873;
    position: sticky;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);  
    border: 1px solid #E3B873;
    box-sizing: border-box;
    color: white;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 70px;
    cursor: pointer;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}


.form {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 50px;
}

.input__area {
    display:flex;
    flex-direction:row;
    margin-bottom:20px;
    border: none;
    gap: 170px;
}

.input {
    background:none;
    border:none;
    border-bottom: 1px solid #444;
    box-sizing: border-box; 
    width: 170%;
    color: black;
}

.input_ {
    color:white;
    width: 100%;
}


.input__item {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 10px;
}

.label {
    margin-top: 10px;
    gap: 80px;
}

.input__field {
    background-color: black;
    background:none;
    border:none;
    border-bottom: 1px solid black;
    box-sizing: border-box; 
    width:50%; 
}

.section_types {
    width: 100%;
    list-style: none;
}

.types {
    max-width: 1620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 20px;
    margin: 60px;
}

.types_h3 {
    column-rule-color: #181818;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 28px;   
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.icon_ {
    display:flex;
    flex-direction:row;
    align-items:center;
    max-width:110px;
    margin-left: 610px;
}


.types__block {
	position: relative;
}

.types__block__text {
	position: absolute;
	background-color: #ffffff;
	margin-top: -127px;
	margin-left: 31px;
	width: 330px;
	height: 286px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types-subtitle {
	font-family: YesevaOne;
	font-size: 18px;
	color: #363636;
	font-weight: 600;
	text-align: left;
	margin-left: 31px;
}

.types-of-repair__list {
	font-size: 13px;
	line-height: 2;
	color: #959595;
}

.types__block__button {
	position: absolute;
	width: 228px;
	height: 54px;
	background: #e3b873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	margin-top: 133px;
	margin-left: 32px;
}

.types-of-repair__button-text {
	font-family: YesevaOne;
	font-size: 18px;
	line-height: 1.4;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 600;
	text-align: center;
}

.section5 {     
    margin-top:304px;
    background:url('image/image\ 6.1.png') no-repeat;
    background-position-y: top;
    background-position-x: left;
    background-size: 60%;
    margin-bottom: 100px;
}

.section5_wrapper{
    display:grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 72px;
    row-gap: 20px;  
}

.wrapper-list{
    display:grid;
    grid-template-columns:56px .9fr;
    grid-template-rows: repeat(4, 56px);
    row-gap: 102px;
    grid-area: 1/1/2/2;
    margin-left: 260px;
    margin-top: 40px;
    align-items: center;
}

.circle {
    padding: 10px;
    background: #E3B873;
    border-radius: 50px;
    border: 8px solid white;
    box-shadow: 0 5px 15px rgb(227 184 115 / 15%);
    display: block;
    line-height: 1.37;
    color: white;
}

.large-text {
    font-size:18px;
    line-height: 2;
}

.requestform {
    padding: 28px 47px;
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align:center;
    max-height: 509px;
    color: white;
}

.label_checkbox {
    color: white;
    cursor: pointer;
}

.margin {
    margin-top: 15px;
    margin-left: 280px;
}

.margin:hover {
    margin-top: 15px;
    margin-left: 280px;
}

.help {
    display: grid;
    grid-template-columns: 72px .6fr;
    align-items: center;
    grid-area: 2/2/3/3;
    column-gap: 25px;
    justify-content: center;
    color: black;
    margin-bottom: -150px;
}


.clients__text {
    margin-left: 615px;
    color: black;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}

.center {
    text-align: center;
}


.clients__title {
	text-align: center;
	color: #181818;
	font-size: 20px;
	margin-left: 0px;
}

.clients__title__text {
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	color: #363636;
	margin-top: 24px;
}

.clients__persons {
	display: flex;
	justify-content: space-between;
    margin-left: 92px;
    margin-top: 0px;
    margin-bottom: 370px;
}

.clients__person {
	width: 376px;
	height: 428px;
	background-color: #ffffff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients__button {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	width: 294px;
	height: 53px;
	background: #e3b873;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
	margin-top: -30px;
}

.clients__button__line {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	border-right: 0.75px solid #ffffff;
	width: 134px;
	height: 53px;
}

.clients__icon {
	width: 32px;
	height: 31px;
	padding-top: 5px;
}

.clients__button__text {
	font-family: YesevaOne;
	font-size: 17px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	margin-right: 15px;
}

.person {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.persons__photo {
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 24px;
}

.persons__title {
	font-family: YesevaOne;
	line-height: 1.3;
	color: #181818;
	max-width: 178px;
	margin-left: 67px;
	margin-top: 41px;
}

.persons__text {
	font-size: 13px;
	line-height: 180%;
	color: #959595;
	width: 324px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 70px;
}

.clients__form {
	background-color: #181818;
	width: 883px;
	height: 445px;
	margin: 131px auto 0 auto;
	z-index: 10;
	position: relative;
}

.clients__form__title {
	font-family: YesevaOne;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: 34px;
}

.clients__form__container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 520px;
	margin: 0 auto;
}

.clients__form__container__line {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 49px;
}

.clients__form__container__line__column {
	display: flex;
	flex-direction: column;
}

.clients__label {
	font-family: NunitoSans;
	font-size: 13px;
	line-height: 1.6;
	color: rgba(255, 255, 255, 0.5);
}

.clients__input {
	border: none;
	background-color: #181818;
	border-bottom: 1px rgba(54, 54, 54, 0.3) solid;
	cursor: pointer;
	outline: none;
	width: 231px;
	padding-top: 7px;
	padding-bottom: 8px;
	font-family: NunitoSans;
	font-size: 14px;
	line-height: 1.6;
	color: #ffffff;
}

.clients__input__short {
	width: 231px;
}

.clients__input__long {
	width: 517px;
	margin-bottom: 46px;
}

.clients__input::placeholder,
.clients__input__long::placeholder {
	font-family: NunitoSans;
	font-size: 14px;
	line-height: 1.6;
	color: #ffffff;
}

.third-checkbox {
	margin: 0 auto;
}

.clients__form__button {
	border: 1px #ffffff solid;
	cursor: pointer;
	background-color: transparent;
	width: 200px;
	height: 51px;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	margin: 50px auto 0 auto;
}

.clients__form__button:hover {
	border: none;
	background-color: #e3b873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	transition: 0.1s;
}

.clients {
   align-items: center;
   flex-direction:column;
   background:url('image/clientsbg.jpg') no-repeat;
   background-position: bottom;
   z-index: -2;
   position: relative;
}

.position {
    margin-left: 56px;
}
.section8{
    z-index:-2;
    background:url('image/contactsbg.jpg') no-repeat;
    background-size:cover;    
    position:relative;
}
.linear-cover2 {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    min-height: 100%;
    position: absolute;
    min-width: 100%;
    z-index:-1;
}

.section8-wrapper{
    position:relative;
    flex-direction:column;
    
}

/* end of sections and wrappers*/

.questionform {
    margin-top: -222px;
    background: #131313;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 45px;
    width: 880px;
    padding: 35px;
    justify-items: center;
}

.inline-fields{
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: space-between;
}

.question {
    width: 350px;
}

.social {
 display:flex;
 flex-direction: row;
 width:80px;
 margin-bottom:40px;
 align-self:center;
 justify-content: space-between; 
}

.social img{
    background:#E3B873;
    padding:5px;
    border-radius:20px;
}
